.castbar-container {
	width: 800px;
	height: 200px;
	border: 2px solid black;

	/* Don't think this exists in panorama css. Lookup alternative way to achieve this */
	display: flex;
	flex-direction: row;
}

.castbar-activePortion {
	height: 100%;
	border-right: 2px solid black;
	background-color: #18b0ba;
}

.castbar-backgroundPortion {
	height: 100%;
	width: 100%
	background-color: #abbabb;	
}