/*--------------------------------------------------------------
Root
----------------------------------------------------------------*/
.AddonLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: black;
}

/*--------------------------------------------------------------
background
----------------------------------------------------------------*/
#BackGround
{
    horizontal-align: left;
    vertical-align: center;
    margin-left: 150px;
}

/*--------------------------------------------------------------
socials
----------------------------------------------------------------*/
#SocialsContainer{
	width: 20%;
    height: 10%;
	horizontal-align: left;
    vertical-align: top;
	margin-top: 50px;
	margin-left: 50px;
	background-color: rgb(70, 58, 58);
}


/*--------------------------------------------------------------
leaderboard 
----------------------------------------------------------------*/
#LeaderboardContainer{
	width: 25%;
    height: 70%;
	horizontal-align: left;
    vertical-align: bottom;
	margin-bottom: 50px;
	margin-left: 50px;
	background-color: rgb(70, 58, 58);
}

/*--------------------------------------------------------------
leaderboard - headers
----------------------------------------------------------------*/
.header_bossFight_info{
	flow-children: right;
	height: 5%;
	width: 100%;
	background-color: #292626cc; /* rgba */
	background-size: 100% 100%;
}

.header_container{
	height: 100%;
	width: 2%;
	flow-children: down;
	vertical-align: middle;
	background-color: #292626cc; /* rgba */
	background-size: 100% 100%;
}

.header_bossFight_heading_text{
	horizontal-align: left;
	vertical-align: center;
	margin: 3px;
	margin-left: 7px;
	color: #fff;
	font-size: 20px;
	font-family: defaultFont;
}

/*--------------------------------------------------------------
leaderboard - cells
----------------------------------------------------------------*/
