/*--------------------------------------------------------------
Root
----------------------------------------------------------------*/
.AddonLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: black;
}

/*--------------------------------------------------------------
background + loadingscreen for leaderboard
----------------------------------------------------------------*/
#BackGround
{
    horizontal-align: left;
    vertical-align: center;
    margin-left: 150px;
	z-index:-10;
}

#LoadingScreenLeaderBoard{
	width: 30%;
    height: 80%;
	horizontal-align: left;
    vertical-align: top;
	margin-top: 120px;
	margin-left: 50px;
	border: 3px solid black;
	border-radius: 5px 5px 5px 5px;
	background-color: #000000; /* rgba */
	background-size: 100% 100%;
	z-index:401;
}

#leaderboard_loadingscreen_text{
	horizontal-align: center;
	vertical-align: center;
	color: #fff;
	font-size: 30px;
	font-family: defaultFont;
}

/*--------------------------------------------------------------
socials
----------------------------------------------------------------*/
#SocialsContainer{
	width: 30%;
    height: 5%;
	horizontal-align: left;
    vertical-align: top;
	margin-top: 10px;
	margin-left: 50px;
	background-color: #151515;
	border: 3px solid black;
	border-radius: 5px 5px 5px 5px;
	flow-children: right;
}

.social_buttons{
	height: 100%;
    width: 33%;
	horizontal-align: center;
	vertical-align: bottom;
}

.social_buttons_text{
	horizontal-align: center;
	vertical-align: center;
	color: #fff;
	font-size: 18px;
	font-family: defaultFont;
	text-transform: uppercase;
  	letter-spacing: 2.5px;
}

/*--------------------------------------------------------------
leaderboard containers
----------------------------------------------------------------*/
#LeaderboardContainer{
	width: 30%;
    height: 80%;
	flow-children: down;
	horizontal-align: left;
    vertical-align: top;
	margin-top: 120px;
	margin-left: 50px;
	border: 2px solid black;
	border-radius: 20px 20px 0px 0px;
}

.leaderboard_buttons_container{
	height: 5%;
    width: 100%;
	flow-children: right;
	background-color: #151515; /* rgba */
	background-size: 100% 100%;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: rgb(126, 126, 126);
	z-index:400;
}

/*--------------------------------------------------------------
leaderboard - buttons
----------------------------------------------------------------*/

.leaderboard_buttons{
	height: 100%;
    width: 50%;
	horizontal-align: center;
	vertical-align: bottom;
	/*background-image: url("file://panorama/images/backgrounds/background_play_button_large_2x_png.png");*/
}

.leaderboard_buttons.disabled{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3f423f ), to( #8d958f33 ) );
	background-size: 100px 50px;
	border: 3px solid black;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
}

.leaderboard_buttons.enable{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #65a15a ), to( #87d69533 ) );
	background-size: 100px 50px;
	border: 3px solid black;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
}

.leaderboard_buttons:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #884f4f ), to( #9e313133 ) );
}

.leaderboard_buttons_text{
	horizontal-align: center;
	vertical-align: center;
	color: #fff;
	font-size: 18px;
	font-family: defaultFont;
	text-transform: uppercase;
  	letter-spacing: 2.5px;
}

/*--------------------------------------------------------------
leaderboard - containers one level down
----------------------------------------------------------------*/

.leaderboard_titles{
	flow-children: down;
	height: 5%;
	width: 100%;
	background-color: #151515; /* rgba */
	background-size: 100% 100%;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: rgb(126, 126, 126);
}

.leaderboard_rows{
	height: 90%;
	width: 100%;
	flow-children: down;
	background-color: #151515; /* rgba */
	background-size: 100% 100%;
}

.leaderboard_row_info{
	flow-children: right;
	height: 10%;
	width: 100%;
	background-color: #151515; /* rgba */
	background-size: 100% 100%;
}

.leaderboard_row_info_odd{
	flow-children: right;
	height: 10%;
	width: 100%;
	background-color: #2e2e2e; /* rgba */
	background-size: 100% 100%;
}

/*--------------------------------------------------------------
leaderboard - headers
----------------------------------------------------------------*/
.leaderboard_header_info{
	flow-children: right;
	height: 100%;
	width: 100%;
	background-color: #151515; /* rgba */
	background-size: 100% 100%;
}

.header_container{
	height: 100%;
	width: 8.5%;
	flow-children: down;
	vertical-align: middle;
	background-color: #151515; /* rgba */
	background-size: 100% 100%;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: rgb(126, 126, 126);
}

.header_container_small{
	height: 100%;
	width: 5%;
	flow-children: down;
	vertical-align: middle;
	background-color: #151515; /* rgba */
	background-size: 100% 100%;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: rgb(126, 126, 126);
}

.header_container_large{
	height: 100%;
	width: 15%;
	flow-children: down;
	vertical-align: middle;
	background-color: #151515; /* rgba */
	background-size: 100% 100%;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: rgb(126, 126, 126);
}

.header_bossFight_heading_text{
	horizontal-align: left;
	vertical-align: center;
	color: #fff;
	font-size: 14px;
	font-family: defaultFont;
	margin-left: 5px;
}

/*--------------------------------------------------------------
leaderboard - cells
----------------------------------------------------------------*/
.leaderboard_row_info_cell_small{
	height: 100%;
	width: 5%;
	flow-children: down;
	vertical-align: middle;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: rgb(126, 126, 126);

}

.leaderboard_row_info_cell{
	height: 100%;
	width: 8.5%;
	flow-children: down;
	vertical-align: middle;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: rgb(126, 126, 126);

}

.leaderboard_row_info_cell_stack{
	height: 100%;
	width: 15%;
	flow-children: down;
	vertical-align: middle;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: rgb(126, 126, 126);
}

.leaderboard_row_info_cell_stack_child{
	height: 25%;
	width: 100%;
	flow-children: down;
	vertical-align: middle;
	color: #fff;
	font-size: 12px;
	font-family: defaultFont;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: rgb(126, 126, 126);
	padding-left: 5px;
	padding-top: 3px;
}

.leaderboard_row_info_cell_text{
	horizontal-align: left;
	vertical-align: center;
	color: #fff;
	font-size: 12px;
	font-family: defaultFont;
	margin-left: 5px;
}
