/* CSS EXAMPLES: */

/* possible web dev double border approach: https://stackoverflow.com/questions/19463904/double-border-with-different-color */


/*background-blur: gaussian( 2.5 );*/

/*background-color: gradient( linear, 0% 0%, 0% 100%, from( #fbfbfbff ), to( #c0c0c0c0 ) );*/
/*background-color: gradient( linear, 0% 0%, 0% 100%, from( #fbfbfbff ), color-stop( 0.3, #ebebebff ), to( #c0c0c0c0 ) );*/
/*background-color: gradient( radial, 50% 50%, 0% 0%, 80% 80%, from( #00ff00ff ), to( #0000ffff ) );*/



/*background-color: #0d1c22ff, gradient( radial, 100% -0%, 100px -40px, 320% 270%, from( #3a464bff ), color-stop( 0.23, #0d1c22ff ), to( #0d1c22ff ) );*/

/*background-size: auto; // same as "auto auto" (default) 
background-size: 100% 100%; // image fills the panel*/

/*border-radius: 2px;*/
/*// Perfect circular or elliptical panel (circular if box was square)*/
/*border-radius: 50% / 50%;*/


/*opacity-mask: url( "file://{images}/upper_row_mask.tga" );*/
/*opacity-mask: url( "file://{images}/upper_row_mask.tga" ) 0.5;*/

/* END CSS EXAMPLES: */


/* */

/* GAME SCOREBOARD (GSB) */


/* END GAME SCOREBOARD (GSB) */


/* BOSS SCOREBOARD (BSB) */

/* Parent panel for Boss Scoreboard */
.bsb
{
  visibility: collapse;
  flow-children: down;
  height: 70%;
  width: 60%;

  margin-top: 9.5%;
  margin-left: 19.5%;
  padding: 0px;

  background-color: #00000044; /* rgba */
  border: 1px solid black;
}


/* BOSS SCOREBOARD - BOSS FIGHT INFO SNIPPET */

/* bsb_boss_header panel, will contain bsb_header_bossFight_info panel */
.bsb_boss_header
{
  width: 100%;
  height: 25%;
}

/* snippet's bsb_header_bossFight_info panel */
.bsb_header_bossFight_info
{
  flow-children: down; /* flex col... */
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #000000cc; /* rgba */
  border: 1px solid black;
}

.boss_header_bossFight_infoText
{
  width: 100%;
  text-align: center; 
}

#bsb_header_boss_name 
{
  font-size: 48px;
  color: #FFFFFFFF;
  text-decoration: underline;
}

#bsb_header_boss_duration
{
  font-size: 28px;
  color: #AAAAAAFF;
}

#bsb_header_boss_winLose
{
  font-size: 48px;
  /* TODO: change color based on VICTORY / DEFEAT; */
  color: #FF0000FF;
}

/* END BOSS SCOREBOARD - BOSS FIGHT INFO SNIPPET */


/* BOSS SCOREBOARD - TABLE ELEMENTS.  */

/* BOSS SCOREBOARD - GENERIC TABLE ELEMENTS */

/* Boss scoreboard table header panel */
.bsb_table_header 
{
  flow-children: right; /* flex row... */
  width: 100%;
  height: 5%;
}

/* Boss scoreboard th cell */
.bsb_table_header_cell
{
  background-color: #000000cc; /* rgba */
  border: 1px solid black;
  padding-left: 3%;
  padding-top: 3%;
  width: 25%;
  height: 100%;

  font-size: 28px;
  color: #ffffff;
}

.bsb_table_header_cell_small 
{
  background-color: #000000cc; /* rgba */
  border: 1px solid black;
  width: 15%;
  height: 100%;
  padding-left: 3%;
  padding-top: 3%;

  font-size: 28px;
  color: #ffffff;
}

/* Table body */
.bsb_body
{
  width: 100%;
  height: 60%;
}

/* Boss scoreboard table rows panel. Will contain multiple bsb_table_row panels */
.bsb_table_rows
{
  width: 100%;
  height: 100%;
  flow-children: down; /* flex col... */
}

/* Boss scoreboard table row container/panel */
.bsb_table_row
{
  flow-children: right; /* flex row... */
  width: 100%;
  height: 15%;
}

/* Boss scoreboard tr cell */
.bsb_table_row_cell
{
  background-color: #000000aa; /* rgba */
  border: 1px solid black;
  width: 25%;
  height: 100%;

  padding-left: 3%;
  padding-top: 30%; /* HACK: solution for centering text vertically. increase/decrease with font-size and container size */
  /*text-align: center;*/
  font-size: 22px;
  color: #ffffff;
}

.bsb_table_row_cell_small
{
  background-color: #000000aa; /* rgba */
  border: 1px solid black;
  width: 15%;
  height: 100%;

  padding-left: 3%;
  padding-top: 30%; /* HACK: solution for centering text vertically. increase/decrease with font-size and container size */
  /*text-align: center;*/
  font-size: 22px;
  color: #ffffff;
}




/* END BOSS SCOREBOARD - GENERIC TABLE ELEMENTS */

/* BOSS SCOREBOARD - SPECIFIC TABLE ELEMENTS */

/* class(e.g 'ice_mage') colum header label */
#bsb_table_header_class
{
  width: 10%;
}

/* playername column header label */
#bsb_table_header_player
{

}

/* Dmg Done header label */
#bsb_table_header_dmgDone
{

}

/* Dmg Taken header label */
#bsb_table_header_dmgTaken
{

}

#bsb_table_row_class 
{
  width: 10%;
}

#bsb_table_row_player
{
  
}

#bsb_table_row_dmgDone
{

}

#bsb_table_row_dmgDps
{

}

#bsb_table_row_dmgTaken
{

}

/* END BOSS SCOREBOARD -  SPECIFIC TABLE ELEMENTS */

/* END BOSS SCOREBOARD */

/* GENERIC: */

.precache 
{
    visibility: collapse;
}

.parent
{
  width:100%;
  height:100%;
}



/* DPS METER */

/* parent. position to lower right on screen */
.dps_meter
{
  width: 13%;
  height: 20%;
  margin-top: 60%;
  margin-left: 87%;
  
  visibility: collapse;
  background-color: #00000088; /* rgba */
  border: 1px solid black;

  flow-children: down; /* flex col... */
}

#dps_meter_heading
{
  color: #ffffff;
  width: 100%;
  font-size: 20px;
  background-color: #000000; /* rgba */
}

.dps_meter_row
{
  width: 100%;
  height: 20%;
  /* TODO: background gradient, like manabar.. ; */
  background-color: #f8f8f8;
  border: 1px solid #000000;
}

#dps_meter_playerName
{
  text-align: center;
  margin-left: 2%;
  margin-top: 20%;
  font-size: 26px;
  font-weight: bold;
  color: #000000; /*blackish to contrast with light*/
}

#dps_meter_dps
{
  margin-left: 75%;
  margin-top: 30%;
  font-size: 16px;
  font-weight: bold;
  
  color: #000000;
}

/* END DPS METER */

