/* Parent panels for Boss Scoreboard */
/* bsb_parent houses the boss header and rows AND the close button */
.bsb_parent
{
  visibility: collapse;
  width: 60%; height:60%;
  align: center middle;
}

/* bsb houses the boss header and rows */
.bsb
{
  flow-children: down;
  height: 100%;
  width: 100%;

  background-color: #00000044; /* rgba */
  border: 1px solid black;
}

/* title bar */
.bsb_boss_title{
  flow-children: right;
  height: 5%;
  width: 100%;
  background-color: #292626cc; /* rgba */
  background-size: 100% 100%;
}

.bsb_boss_mode{
  height: 100%;
  width: 10%;
}

#bsb_boss_mode_text{
	horizontal-align: left;
  vertical-align: center;
  margin: 3px;
  margin-left: 7px;
	color: #fff;
	font-size: 20px;
	font-family: defaultFont;
}

/* BOSS SCOREBOARD - CLOSE BUTTON */
#bsb_header_close_button_panel{
  height: 100%;
  width: 10%;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #fa3535 ), to( #d6878733 ) );
  border: 3px solid black;
  border-radius: 5px 0px 0px 5px;
  align: right top;
}

#bsb_header_close_button{
  height: 100%;
  width: 100%;
}

#bsb_header_close_button_text{
	horizontal-align: center;
  vertical-align: center;
  margin: 3px;
  margin-left: 7px;
	color: #fff;
	font-size: 20px;
	font-family: defaultFont;
}


/* BOSS SCOREBOARD - BOSS FIGHT INFO SNIPPET */
/* bsb_boss_header panel, will contain bsb_header_bossFight_info panel */
.bsb_boss_header
{
  width: 100%;
  height: 25%;
}

/* snippet's bsb_header_bossFight_info panel */
.bsb_header_bossFight_info
{
  horizontal-align: left;
  flow-children: right; /* flex col... */
  text-align: center;
  width: 100%;
  height: 100%;
}

#bsb_header_boss_name_container.victory, #bsb_header_boss_duration_container.victory, #bsb_header_boss_attempt_container.victory{
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #3b4736 ), to( #49c33933 ) );
}

#bsb_header_boss_name_container.defeat, #bsb_header_boss_duration_container.defeat, #bsb_header_boss_attempt_container.defeat{
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #473636 ), to( #c3393933 ) );
}

.bsb_header_container
{
	height: 100%;
	width: 34%;
  flow-children: down;
  vertical-align: middle;
	background-color: #292626cc; /* rgba */
  background-size: 100% 100%;
}

.boss_header_bossFight_infoText
{
  width: 100%;
  text-align: center; 
  vertical-align: middle;
  font-size: 28px;
  color: #ffffff;
	font-family: defaultFont;
}

.boss_header_bossFight_infoText_heading
{
  width: 100%;
  text-align: center; 
  vertical-align: top;
  font-size: 28px;
  color: #ffffff;
  font-family: defaultFont;
}
/* END BOSS SCOREBOARD - BOSS FIGHT INFO SNIPPET */


/* BOSS SCOREBOARD - TABLE ELEMENTS.  */
/* BOSS SCOREBOARD - GENERIC TABLE ELEMENTS */

/* Boss scoreboard table header panel */
.bsb_table_header 
{
  flow-children: right; /* flex row... */
  width: 100%;
  height: 10%;
}

/* Boss scoreboard th cell */
.bsb_table_header_cell
{
  background-color: #000000e7; /* rgba */
  border: 1px solid black;
  width: 46%;
  height: 100%;

  text-align: center; 
  vertical-align: middle;

  font-size: 28px;
  color: #ffffff;
  font-family: defaultFont;
}

.bsb_table_header_cell_small 
{
  background-color: #000000e7; /* rgba */
  border: 1px solid black;
  width: 25%;
  height: 100%;

  text-align: center; 
  vertical-align: middle;

  font-size: 28px;
  color: #ffffff;
  font-family: defaultFont;
}

.bsb_table_header_cell_small_hero_image
{
  background-color: #000000e7; /* rgba */
  border: 1px solid black;
  width: 4%;
  height: 100%;

  text-align: center; 
  vertical-align: middle;

  font-size: 28px;
  color: #ffffff;
  font-family: defaultFont;
}

/* Table body */
.bsb_body
{
  width: 100%;
  height: 60%;
}

/* Boss scoreboard table rows panel. Will contain multiple bsb_table_row panels */
.bsb_table_rows
{
  width: 100%;
  height: 100%;
  flow-children: down; /* flex col... */
}

/* Boss scoreboard table row container/panel */
.bsb_table_row
{
  flow-children: right; /* flex row... */
  width: 100%;
  height: 13%;
}

/* Boss scoreboard tr cell */
.bsb_table_row_cell
{
  background-color: #000000aa; /* rgba */
  border: 1px solid black;
  width: 46%;
  height: 100%;

  padding-left: 3%;
  padding-top: 30%; /* HACK: solution for centering text vertically. increase/decrease with font-size and container size */
  /*text-align: center;*/
  font-size: 22px;
  font-family: defaultFont;
  color: #ffffff;
}

.bsb_table_row_cell_small
{
  background-color: #000000aa; /* rgba */
  border: 1px solid black;
  width: 25%;
  height: 100%;

  padding-left: 3%;
  padding-top: 30%; /* HACK: solution for centering text vertically. increase/decrease with font-size and container size */
  /*text-align: center;*/
  font-size: 22px;
  font-family: defaultFont;
  color: #ffffff;
}

.bsb_table_row_cell_small_hero_portrait
{
  background-color: #000000aa; /* rgba */
  border: 1px solid black;
  width: 4%;
  height: 100%;
  /*text-align: center;*/
  font-size: 22px;
  font-family: defaultFont;
  color: #ffffff;
}




/* END BOSS SCOREBOARD - GENERIC TABLE ELEMENTS */

/* BOSS SCOREBOARD - SPECIFIC TABLE ELEMENTS */

/* class(e.g 'ice_mage') colum header label */
#bsb_table_header_class
{
}

/* playername column header label */
#bsb_table_header_player
{

}

/* Dmg Done header label */
#bsb_table_header_dmgDone
{

}

/* Dmg Taken header label */
#bsb_table_header_dmgTaken
{

}

#bsb_table_row_class 
{

}

#bsb_table_row_player
{
  
}

#bsb_table_row_dmgDone
{

}

#bsb_table_row_dmgDps
{

}

#bsb_table_row_dmgTaken
{

}

/* END BOSS SCOREBOARD -  SPECIFIC TABLE ELEMENTS */

/* END BOSS SCOREBOARD */

/* GENERIC: */

.precache 
{
    visibility: collapse;
}

.parent
{
  width:100%;
  height:100%;
}



/* DPS METER */

/* parent. position to lower right on screen */
.dps_meter
{
  width: 13%;
  height: 20%;
  margin-top: 60%;
  margin-left: 87%;
  
  visibility: collapse;
  background-color: #00000088; /* rgba */
  border: 1px solid black;

  flow-children: down; /* flex col... */
}

#dps_meter_heading
{
  color: #ffffff;
  width: 100%;
  font-size: 20px;
  background-color: #000000; /* rgba */
}

.dps_meter_row
{
  width: 100%;
  height: 20%;
  /* TODO: background gradient, like manabar.. ; */
  background-color: #f8f8f8;
  border: 1px solid #000000;
}

#dps_meter_playerName
{
  text-align: center;
  margin-left: 2%;
  margin-top: 20%;
  font-size: 26px;
  font-weight: bold;
  color: #000000; /*blackish to contrast with light*/
}

#dps_meter_dps
{
  margin-left: 75%;
  margin-top: 30%;
  font-size: 16px;
  font-weight: bold;
  
  color: #000000;
}

/* END DPS METER */

