/* general layout
=================================================================*/
#PickingScreen {
	width: 100%;
	height: 100%;
	background-color: black;
	/*background-color: #000000;*/
}

.hidden {
	visibility: collapse;
	opacity: 0;
	width: 0%;
	height: 0%;
  }

/* hero select general layout and container
=================================================================*/
#PickingScreenScene
{
	/*height: 100%;
	width: 100%;*/
	z-index:-10;
}


#PickListRowOne {
	/*width: 35%;*/
    height: 23%;
    horizontal-align: center;
	flow-children: right;
	visibility: visible;
	/*background-color: #151515;*/
}

#PedList {
	width: 80%;
    height: 35%;
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right;
	visibility: visible;
	/*background-color: #151515;*/
	margin-bottom: 50px;
}

.selection_background{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 100% 100%, 100% 100%, from( #171A25  ), to( #171A25dd ) );
}

/* SNIPPETS hero select
=================================================================*/
.HeroOptions{
	width: 100px;
	height: 400px;
	horizontal-align: left;
	flow-children: right;
	color: #14e9c5;
    /*padding: 2% 0 5% 0;*/
    /*margin: 10px;*/
}

/* SNIPPETS ped view
=================================================================*/
.PedFrames{
	width: 350px;
    height: 400px;
    horizontal-align: left;
	/*background-color: #151515;*/
	flow-children: down;
	color: #ffffff;
	vertical-align: center;
    /*padding: 2% 0 5% 0;*/
    /*margin: 10px;*/
}

/* 'pedestal' general layout and container
=================================================================*/
.PedFrame {
	width: 350px;
	height: 400px;
	horizontal-align: left;
	margin-left: 50px;
	vertical-align: center;
	flow-children: down;
}

/* 'pedestal' scene class for actual sceene
=================================================================*/
.PedSceneHeroSelected {
	height: 100%;
	width: 100%;
	brightness: 1;
	saturation: 0.0;
}

.PedSceneHeroTaken {
	height: 100%;
	width: 100%;
	brightness: 1;
}

.HeroPedFrameLabelContainer {
	height: 100%;
	width: 100%;
	flow-children: down;
	background-color: #151515;
	background-size: 100% 100%;
	border-radius: 12px;
}

.HeroNamePedTxt  {
	width: 100%;
	text-align: center;
	horizontal-align: center;
	vertical-align: bottom;
	color: #fff;
	font-size: 24px;
	background-color: #151515;
	background-size: 100% 100%;
	font-family: defaultFont;
}

.PlayerNamePedTxt {
	width: 100%;
	text-align: center;
	horizontal-align: center;
	vertical-align: bottom;
	color: #fff;
	font-size: 24px;
	background-color: #151515;
	background-size: 100% 100%;
	font-family: defaultFont;
}

/* Hero options
================================================================= */
.HeroOption {
	width: 100px;
	height: 400px;
	horizontal-align: left;
	background-color: #fff;
	background-size: 50% 50%;
    background-position: 0px 0px;
	margin: 10px;
	flow-children: down;
}

.HeroOption:hover {
	saturation: 1;
	/*transform: translateX( 20px );*/
}

.HeroOption.taken {
	saturation: 0.0;
	transform: none;
	opacity: 0.2;
}

/* 'Pick Hero' button
=================================================================*/
.PickHeroBtn {
	horizontal-align: center;
	vertical-align: bottom;
	box-shadow: fill #00000066 -2px -2px 4px 4px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5AA15E ), to( #71d183c0 ) );
	background-image: url("file://panorama/images/backgrounds/background_play_button_large_2x_png.png");
	background-size: 100px 50px;
	height: 50px;
	width: 100px;
}

.PickHeroBtn.disabled, .PickHeroBtn.disabled:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #9C9C9C ), to( #D1D1D133 ) );
}

.PickHeroBtn:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6FDE75 ), to( #87d69533 ) );
}

.PickHeroBtn Label {
	horizontal-align: center;
	vertical-align: center;
	color: #fff;
	font-size: 18px;
	font-family: defaultFont;
}

/* 'WASD' button
=================================================================*/
.wasdcontainer {
	width: 300px;
	height: 100px;
    horizontal-align: right;
	vertical-align: center;
	margin-bottom: 350px;
	background-color: #151515;
	border-radius: 12px 0px 0px 12px;
}

.wasdcontainerLabelContainer {
	width: 100%;
	height: 100%;
}

.wasdLabel {
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	color: #fff;
	font-size: 24px;
	background-color: #151515;
	background-size: 100% 100%;
	font-family: defaultFont;
}

/* '' tooltips
=================================================================*/

#ToolTip{
	width: 250px;
	/*height: 150px;*/
	margin-top: 400px;
	margin-right: 400px;
	background-color: #151515;
	background-size: 100% 100%;
	border-radius: 12px;
	horizontal-align: right;
}

#ToolTipTxt {
	horizontal-align: center;
	vertical-align: bottom;
	color: #fff;
    font-size: 17px;
    margin-top: 20px;
    margin: 10px;
    font-family: defaultFont;
}

.ToolTipInfo {
	width: 20px;
	height: 25px;
	horizontal-align: left;
	vertical-align: center;
	color: #fff;
	text-align: center;
	font-size: 24px;
	margin-left: 5px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3553fa ), to( #8887d633 ) );
	background-size: 100% 100%;
	border-radius: 6px;
	font-family: defaultFont;
}

.ToolTipInfoOpenToolTip {
	width: 20px;
	height: 25px;
	horizontal-align: left;
	vertical-align: top;
	color: #fff;
	text-align: center;
	font-size: 24px;
	margin: 10px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3553fa ), to( #8887d633 ) );
	background-size: 100% 100%;
	border-radius: 6px;
	font-family: defaultFont;
}
