.parent
{
  width:100%;
  height:100%;
}



/* values taken from dota ui. Useful for examples */

/*#HealthLabel {
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px 0px 2.0 #000000;
  overflow: noclip;
  font-family: monospaceNumbersFont;
}*/

/*#HealthProgress.ProgressBarLeft {
  border-radius: 3px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #425d25  ), color-stop( 0.2, #5BA539 ), color-stop( .5, #4D9030), to( #425d25) );
  brightness: 1;
}

#HealthProgress.ProgressBarRight {
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #17200d  ), color-stop( 0.2, #222e13 ), color-stop( .5, #1e2911), to( #17200d) );
}*/




/* BossFrame v2 */ 
/* Trying to simplify, and copying valve implementation */

.BossFrame
{
  margin-top: 2%;
  margin-left: 35%;
  width: 30%;
  height: 200px;
}

/* 100% of the above */
.BossFrameContainer
{
  width: 100%;
  height: 100%;
}



/* Currently the only thing in the BossFrame is hp and mana, so this fills the whole frame */
#BossHealthManaContainer
{
  width: 100%;
  height: 100%;
  flow-children: down;
}

#BossHealthManaSpacer 
{
  height: 1px;
  width: 100%;
  opacity: 0;

}

#BossNameContainer
{
  width: 100%;
  height: 26px;
}

#BossNameLabel
{
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  color: white;
  text-shadow: 1px 1px 0px 2.0 #000000; 
  font-size: 18px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#BossHealthLabel
{
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  color: white;
  text-shadow: 1px 1px 0px 2.0 #000000;
  overflow: noclip;
  font-size: 18px;
  font-weight: bold;
  font-family: monospaceNumbersFont;
  z-index: 4;
}

#BossHealthContainer
{
  width: 100%;
  height: 26px;
  border-radius: 6px;
  border: 1px solid #222222;
}

#BossHealthProgressContainer
{
  flow-children: right;
  height: 100%;
  width: 100%;
  z-index: 2;
}

#BossHealthProgressLeft
{
  width: 100%;
  height: 100%;

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #5d2525  ), color-stop( 0.2, #991d1d ), color-stop( .5, #903030), to( #5d2525) );
  margin: 0;
}

#BossHealthProgressRight
{
  height:100%;
  width: 0%;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #260f0f  ), color-stop( 0.2, #301313 ), color-stop( .5, #401a1a), to( #260f0f) );
  margin: 0;
}

#BossManaLabel
{
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  color: white;
  text-shadow: 1px 1px 0px 2.0 #000000;
  overflow: noclip;
  font-size: 18px;
  font-weight: bold;
  font-family: monospaceNumbersFont;
  z-index: 4;
}


#BossManaContainer
{
  width: 100%;
  height: 26px;
  border-radius: 6px;
  border: 1px solid #222222;
}

#BossManaProgressContainer
{
  flow-children: right;
  height: 100%;
  width: 100%;

  z-index: 2;
}

#BossManaProgressLeft
{
  height:100%;
  width: 100%;

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #2b4287  ), color-stop( 0.2, #4165ce ), color-stop( .5, #4a73ea), to( #2b4287) );
  margin: 0;
}

#BossManaProgressRight
{
  height:100%;
  width: 0%;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #202121  ), color-stop( 0.2, #2f3030 ), color-stop( .5, #3c3d3d), to( #202121) );
  margin: 0;
}

/* END BossFrame v2 */ 


/* PlayerFrame */

.PlayersFrameContainer
{
  margin-top: 20%;
  margin-left: 0%;
  width: 15%;
  height: 40%;
  flow-children: down;  
}

.PlayerFrameContainer
{
  width: 80%;
  flow-children: right;  
  /* padding between next playerFrame */  
  margin-bottom: 4px;
  box-shadow: fill #00000066 2px 2px 2px 1px; 
  background-color: #333333ff;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #222222;
  margin-left: -5px;
}

.PlayerFrameHeroAnimTest
{
}

.PlayerFrameHeroImageContainer
{
  width: 25%;
  height: 100%;
  horizontal-align: left;
  /*border: 1px solid black;*/

}
.PlayerPictureContainer{
  width: 100%;
  height: 100%;
}

/* Container for player_name, hp and mana bars */
.PlayerFrame
{
  horizontal-align: left;
  flow-children: down;
  width: 75%;
  /*round the edges, and move the frame offscreen to hide the rounded edges on the left. */

  /* Drop shadow? */
  /*box-shadow: fill #00000088 1px 1px 1px 1px; */

}

#PlayerNameContainer
{
  width: 100%;
  height: 22px;
  flow-children: right;
}

#PlayerNameLabel
{
  text-align: left;
  horizontal-align: left;
  vertical-align: center;
  color: #fff;
  text-shadow: 1px 1px 0px 2.0 #000000;
  overflow: noclip;
  font-size: 18px;
  font-weight: semi-bold;
  font-family: monospaceNumbersFont;
  z-index: 100;
  margin-left: 5px;
}

#PlayerLivesLabel
{
  text-align: right;
  horizontal-align: right;
  vertical-align: center;
  color: white;
  text-shadow: 1px 1px 0px 2.0 #000000;
  overflow: noclip;
  font-size: 18px;
  font-weight: semi-bold;
  font-family: monospaceNumbersFont;
  z-index: 100;
  margin-right: 5px;
}

#PlayerHealthLabel
{
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  color: white;
  text-shadow: 0px 0px 4px 3 black;
  overflow: noclip;
  font-size: 15px;
  font-weight: bold;
  font-family: monospaceNumbersFont;
  z-index: 100;
}

#PlayerHealthContainer
{
  width: 100%;
  height: 22px;
  background-color: #999999ff;
}

#PlayerHealthProgressContainer
{
  flow-children: right;
  height: 100%;
  width: 100%;
}

#PlayerHealthProgressLeft
{
  width: 100%;
  height: 100%;

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #425d25  ), color-stop( 0.2, #5BA539 ), color-stop( .5, #4D9030), to( #425d25) );
  margin: 0;
}

#PlayerHealthProgressRight
{
  height:100%;
  width: 0%;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #1b260f  ), color-stop( 0.2, #223013 ), color-stop( .5, #2d401a), to( #1b260f) );
  margin: 0;
}

#PlayerManaLabel
{
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  color: white;
  text-shadow: 0px 0px 4px 3 black;
  overflow: noclip;
  font-size: 15px;
  font-weight: bold;
  font-family: monospaceNumbersFont;
  z-index: 100;
}


#PlayerManaContainer
{
  width: 100%;
  height: 22px;
  background-color: #77777777;
}

#PlayerManaProgressContainer
{
  flow-children: right;
  height: 100%;
  width: 100%;
}

#PlayerManaProgressLeft
{
  height:100%;
  width: 100%;

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #2b4287  ), color-stop( 0.2, #4165ce ), color-stop( .5, #4a73ea), to( #2b4287) );
  margin: 0;
}

#PlayerManaProgressRight
{
  height:100%;
  width: 0%;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #202121  ), color-stop( 0.2, #2f3030 ), color-stop( .5, #3c3d3d), to( #202121) );
  margin: 0;
}

.hero_image{
	width: 100%;
	height: 100%;
}

.hero_image.backgroundImage {
	background-color: #151515;
}

.hero_image.backgroundSize {
	background-size: 100% 100%;
}



/* END PlayerFrame */