.parent
{
  width:100%;
  height:100%;
}

.PlayerContainer
{
    width: 200px;
    height: 200px;

    horizontal-align: left;
    vertical-align: center;

    background-color: blue; 
}

.PlayerFrameAll 
{
    width: 100%;
	height: 20%;

	margin-left: 4px;
	margin-top: 4px;
	margin-bottom: 4px;

    background-color: #00000088; /* argb? */
}

.PlayerNamePanel
{
  width: 25%;
  height: 50%;
  background-color: #00000088; /* argb? */
}
